@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
    /* CSS HEX */
    --razzmatazz: #e72367ff;
    --quinacridone-magenta: #912f56ff;
    --palatinate-purple: #521945ff;
    --old-burgundy: #361f27ff;
    --smoky-black: #0d090aff;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: var(--quinacridone-magenta);
  overflow-x: hidden; 
}
section {
  padding: 2rem 9%;
  margin-bottom: 35px;
  margin-top: 15px;
}

p{
  font-size: 1.5rem;
  font-weight: 500;
}

h1{
  font-size: 5rem;
  margin: 15px;
  text-align: center;
  color: #cacdd2;
  font-weight: bold;
  background: -webkit-linear-gradient(#cacdd2, var(--razzmatazz));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  text-align: center;
  background: #e84393;
}

.heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  padding-top: .7rem;
  font-size: 1.7rem;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: #333;
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--palatinate-purple);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--razzmatazz);
  font-weight: bolder;
  margin-right: auto;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
  
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  font-size: 1.7rem;
  color: rgb(211, 204, 204);
  padding: 2rem;
  display: block;
  margin-right: 20px;
}

.header .navbar ul li a:hover {
  background: #eee;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #fff;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: 2rem;
}

.header .icons div:hover,
.header .icons a:hover {
  color: #e84393;
}

.header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  border-top: 0.2rem solid #333;
  background: #fff;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  color: #666;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #e84393;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

/* SEARCH */
.fa.fa-search{
  font-size: 1.7rem;
  color: #cacdd2;
  text-align: center;
  margin-top: 25px;
  margin-right: 20px;
}
.togglesearch{
  background: var(--smoky-black);
  position: absolute;
  top: 54px;
  right: 28.7%;
  width: 350px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #D80B15;
  display: none;
}
.togglesearch:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid var(--smoky-black);
}
.togglesearch input[type="text"]{
  width: 200px;
  padding: 5px 10px;
  margin-left: 23px;
  border: 1px solid var(--smoky-black);
  outline: none;
}
.togglesearch input[type="button"]{
  width: 80px;
  padding: 5px 0;
  background: var(--quinacridone-magenta);
  color: #fff;
  margin-left: -6px;
  border: 1px solid #D80B15;
  outline: none;
  cursor: pointer;
}

.banner{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.slider{
  position: absolute;
  top: 0;
  width: 100%;
    height: 70vh;
  background: #1D212B;
}

.slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slider .slide img{
  z-index: 1;
  width: 100%;
}



.slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 5%;
  height: 20%;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider .navigation .btn.active{
  background: var(--razzmatazz);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .slider{
    width: 100%;
    height: 375px;
  }

 
  .slider .navigation{
    bottom: 10px;
  }

  .slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .slider{
    width: 100%;
    height: 250px;
  }

   .slider .navigation{
    bottom: 15px;
  }

  .slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .slider{
    width: 100%;
    height: 200px;
  }


  .slider .navigation{
    bottom: 10px;
  }
}

/* MAIN SECTION */
.main{
  margin-top: 5%;
  margin-bottom: 5%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* GENRE TABLE */
.genres{
  margin-top: 35%;
}

table, td, th #genre-table{
  background: var(--razzmatazz);
  border: 3px solid black;
  border-collapse: collapse;
  padding: 15px;
}


table th{
  background: var(--smoky-black);
  color: #cacdd2;
  padding: 20px;
}

#genre-table, #top-author-table{
  font-size: 2.2rem;
  font-weight: 500;
  width: 100%;
  height: 90%;
  text-align: center;
}

#genre-table td:hover {
  background-color: var(--quinacridone-magenta);
}


/* TOP BOOKS */

#top-books h2{
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
}

.book-boxes{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}
.book-boxes .card{
  background-color: var(--palatinate-purple);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px var(--smoky-black);
  text-align: center;
  
}

.card-left {
  width: 50%;
}
.card-right{
  width: 50%;
  text-align: center;
}

.details{
  margin-top: 20%;
  color: var(--razzmatazz);
  text-align: left;
}

ul.details-list li{
  font-size: 15px;
}

span.detail-text{
  color:#cacdd2;
  font-weight: bold;
}

.user-name{
  background: var(--smoky-black);
  color: #ccc;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
}
.card .title{
  font-size: 20px;
  font-weight: bold;
  color: #cacdd2;
  margin-top: 10px;
}

.card .image{
  height: 250px;
}
.card img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.card .text{
  margin-left: 2em;
  margin-bottom: 0.5em;
  color: #cacdd2;
}

/* FORMS */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--old-burgundy);
  color:#cacdd2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align:center;
  outline: none;
  font-size: 30px;
  margin-bottom: 40px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapse-active, .collapsible:hover {
  background-color: var(--smoky-black);
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapse-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.login-reg-form{
  display: none;
  background: var(--old-burgundy);
}
.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2.5% auto;
  background: #762d6d;
  padding: 5px;
  overflow: hidden;
  border: 5px solid var(--razzmatazz);
}

.successful-login{
  display: none;
  margin: auto;
  width: 500px;
  height: 300px;
  background: var(--razzmatazz);
  border-radius: 10px;
  border: 5px solid var(--smoky-black);
}
.logout-btn-box{
  position: absolute;
  margin:200px auto;
  width: 220px;
  align-items: center;
}

.logout-btn{
  margin: auto;
  width: 300px;
  height: 80px;
  border-radius: 50px;
  background: var(--quinacridone-magenta);
  font-size: 45px;
  border: 5px solid var(--palatinate-purple);
  margin-left: 100px;
}
.logout-btn:hover{
  letter-spacing: 2px;
  font-weight: bolder;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px var(--smoky-black) ;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #cacdd2;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, var(--razzmatazz),var(--smoky-black));
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #999;
  outline: none;
  background: transparent;
  color: #cacdd2;
}

.input-field::placeholder{
  font-weight: bold;
  color: #cacdd2;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  color: #cacdd2;
  background: linear-gradient(to right, var(--razzmatazz),var(--smoky-black) );
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login{
  left: 50px;
}

#register{
  left: 450px;
}


/* ADD BOOK REVIEW SECTION */
.add-book-review{
  display: none;
}
.total-forms{
  display: none;
}
.review-message,.total-forms{
  width: 70%;
  height: 40%;
  padding: 10%;
  border: 7px solid var(--old-burgundy);
  align-items: center;
  text-align: center;
  margin: auto;
  background: var(--old-burgundy);
  border: 10px solid var(--razzmatazz);
}

.review-message p#question{
  font-size:40px;
  font-weight: 600;
  color: #cacdd2;
}

.review-message p{
  margin-top: 5%;
  font-size: 35px;
  color: #cfd2d6;
}

button#add-to-review{
  padding: 15px;
  background: var(--razzmatazz);
  font-weight: 600;
  font-size: large;
  margin-top: 25px;
}

button#add-to-review:hover{
  background: linear-gradient(to right,var(--quinacridone-magenta),var(--razzmatazz));
  color: #cacdd2;
  font-weight: 800;
}

.total-forms{
  margin-top: 30px;
  width: 90%;
  display: none;
}
.total-forms h3{
  margin-top: 5px;
}
.review-left {
  width: 40%;
}
.review-right{
  width: 60%;
}

.total-forms label{
  font-size: 2rem;
  color: var(--razzmatazz);
  float: left;
}

.image-box{
  width: 250px;
  height: 300px;
  border: 5px solid var(--razzmatazz);
}

input#FileInput{
  margin-top: 7%;
  font-size: 15px;
  background: var(--razzmatazz);
  width: 80%;
  border-radius: 10px;
}

/* Style inputs with type="text", select elements and textareas */
.total-forms input[type=text], select, textarea,input[type=number],.total-forms input[type=date] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.total-forms input[type=submit],button#upload {
  background-color: var(--razzmatazz);
  margin: 5px;
  width: 100%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#upload {
  width: 90%;
  margin-top: 10%;
}

/* When moving the mouse over the submit button, add a darker green color */
.total-forms input[type=submit]:hover {
  background: linear-gradient(to right,var(--quinacridone-magenta),var(--razzmatazz));
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.2rem;
}

/* USER ACCOUNT  SECTION*/
.user-account{
  display: none;
  background: var(--old-burgundy);
}

.user-left {
  width: 65%;
}
.user-right{
  width: 35%;
}

.user-details-edit{
  width: 90%;
  height: 40%;
  background: var(--palatinate-purple);
  padding: 5%;
  border: 7px solid #cacdd2;
}
h3{
  color:#cacdd2;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5%;
}

.user-details-edit label{
  font-size: 2rem;
  color: var(--razzmatazz);
}

/* Style inputs with type="text", select elements and textareas */
.user-details-edit input[type=text],.user-details-edit input[type=email],.user-details-edit input[type=password],.user-details-edit input[type=date], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.user-details-edit input[type=submit] {
  background-color: var(--razzmatazz);
  margin: 5px;
  width: 100%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.user-details-edit input[type=submit]:hover {
  background: linear-gradient(to right,var(--quinacridone-magenta),var(--razzmatazz));
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.2rem;
}


.user-reviews{
  padding: 20px;
  background: var(--palatinate-purple);
  width: 100%;
  border: 5px solid #cacdd2;
}

.review-card{
  background: var(--razzmatazz);
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 15px;
}

.review-card h2{
  font-size: 3rem;
  text-align: center;
}

.user-likes{
  background: var(--palatinate-purple);
  margin-top: 35px;
  border-radius: 10px;
  border: 5px solid #cacdd2;
}


.likes-box{
  background-color: var(--quinacridone-magenta);
  float:left;
  width: 25%;
  padding: 10px;
  height: 100px;
  margin: 30px;/* Should be removed. Only for demonstration */
  border: 5px solid var(--smoky-black);
  border-radius: 10px;
}

i.fa-heart{
  color: var(--razzmatazz);
  font-size: 3rem;
  float: right;
}

.all-reviews-section{
  display: none;
}

/* #comments-collapsible{
  margin-top: 2%;
  padding: 5px;
  font-size: 15px;
}

#comments-collapsible:after {
  font-size: 15px;
} */




#genre-boxes{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

.search-section{
  background: var(--old-burgundy);
}


.search {
  width: 600px;
  height: 41px;
  margin: 40px auto;
  background: #444;
  background: var(--quinacridone-magenta);
  border-radius: 5px;
  border: 2px solid #fff;
}

.search ::placeholder{
  color: var(--smoky-black);
  padding: 2px;
}
.search input {
  width: 370px;
  padding: 5px 5px;
  float: left;
  color: #ccc;
  font-weight: 600;
  font-size: 2rem;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 41px;
  width: 120px;
  color: #fff;
  font-weight: bold;
  background: transparent;
  border-left: 2px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: linear-gradient(180deg,var(--razzmatazz),var(--smoky-black));
  color: #cacdd2;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.search button:focus {
  outline: 0;
}




footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--smoky-black);
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
  overflow: hidden;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: var(--old-burgundy);
  width: 100vw;
  padding: 20px;
  padding-bottom: 25px;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}